.scoreContainer {
  background-color: white;
  font-size: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.101);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  transition-property: width;
  transition-delay: 0.25s;
}

.scoreContainerWrapper {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.newPoints {
  color: green;
  font-weight: 500;
}

.roundTracker {
  color: gray;
  font-size: 30px;
}
