.fullWidthContainer {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 60px;
  transition-property: opacity;
  transition-duration: 0.25s;
  background-color: white;
}

.usernameInputContainer {
  margin-top: 250px;
}

.usernameInput {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
  text-align: center;
  display: inline-block;
}

.usernameInput::placeholder {
  color: rgb(190, 190, 190);
}

.enterPrompt {
  opacity: 0;
  transition-duration: opacity, background-color;
  transition-duration: 0.25s;
  font-size: 30px;
  background-color: white;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
  cursor: pointer;
  border: none;
  display: inline-block;
}

.enterPrompt:hover {
  background-color: rgb(246, 246, 246);
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.gameTitle {
  font-weight: 500;
  font-size: 70px;
  margin-bottom: 20px;
  transition-duration: color;
  transition-duration: 0.25s;
}