.colorScreen {
    width: 100%;
    height: 100%;
}

.centerFloaterContainer {
  position: absolute;
  min-width: 830px;
  left: calc((100% - 830px) / 2);
  top: 350px;
  transition-property: top;
  transition-duration: 0.25s;
}

.centerFloaterContainerUp {
  top: 250px;
}

.predictedColorScreen {
  position: absolute;
  width: 100%;
  height: 0px;
  transition-property: height;
  transition-duration: 0.25s;
}

.predictedColorScreenDown {
  height: 274px;
}