.colorScreen {
    width: 100%;
    height: 100%;
}

.centerFloaterContainer {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 350px;
  transition-property: top;
  transition-duration: 0.25s;
}

.centerFloaterContainerUp {
  top: 250px;
}