.reviewScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.summaryTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 50%;
  margin-left: 50px;
  margin-top: 160px;
  gap: 20px;
}

.bigFont {
  font-weight: 500;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.224);
}

.totalScore {
  position: absolute;
  right: 100px;
  top: 90px;
  width: 30%;
  text-align: center;
  font-size: 25px;
}

.restartTextTable {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto auto;
  gap: 12px;
}

.enterSymbol {
  font-size: 30px;
  padding-top: 5px;
  text-align: right;
}

.restOfTryAgainText {
  text-align: left;
}

.scoreboardContainer {
  position: absolute;
  right: 100px;
  top: 340px;
  width: 30%;
  text-align: center;
  font-size: 25px;
}