.reviewScreenContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.summaryTable {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  width: 50%;
  margin-left: 90px;
  margin-top: 90px;
  gap: 20px;
}

.bigFont {
  font-weight: 500;
  font-size: 100px;
}

.totalScore {
  position: absolute;
  right: 100px;
  top: 90px;
  width: 30%;
  text-align: center;
  font-size: 25px;
}