.rgbInputField {
  border: none;
  background-color: transparent;
  display: inline-block;
  font-size: 80px;
  font-family: inherit;
  width: 160px;
  text-align: center;
  font-weight: 500;
  outline: none;
}

.inheritShadowAndColor {
  color: inherit;
  text-shadow: inherit;
}

.rgbInputField::placeholder {
  color: inherit;
  opacity: 0.5;
}

.rgbInputContainer {
  font-size: 80px;
  text-align: center;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.101);
  transition-property: height;
  transition-duration: 0.25s;
}

.slightShadow {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.106);
}

.invisibleText {
  color: transparent;
  text-shadow: none;
}

.strikethrough {
  text-decoration: line-through;
  color: gray;
  font-weight: 400;
}

.greenText {
  color: green;
}

.enterPrompt {
  opacity: 0;
  transition-duration: opacity, background-color;
  transition-duration: 0.25s;
  font-size: 30px;
  background-color: white;
  position: absolute;
  width: 80px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.101);
  padding-top: 5px;
  top: 190px;
  left: calc((100% - 830px) / 2 + 830px - 80px);
  cursor: pointer;
  border: none;
}

.enterPrompt:hover {
  background-color: rgb(246, 246, 246);
}

.visible {
  opacity: 1;
}
